
.page-home header {
    position: absolute;
    background-color: transparent;
    border: none;
}

.page-home header .main-menu  a,
.page-home .search-open-button {
   color:#fff;

   &:hover {
    color: aqua;
   }
}

.page-home .main-menu ul li a::after {
    background: #fff;
}

.page-home ul.submenu a {
    color: #000;
}

/* Logo is already white from API, no need to invert */
/* .page-home #logo-container img {
    filter: invert(1);
} */