main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  padding-inline: 2rem;
  margin: 0px auto 40px auto;
  gap: 30px;
}
.page-title {
  background-color: rgb(238, 238, 238);
  border: 1px solid #b3b3b3;
  position: relative;
  padding: 22px 36px;
  border-radius: 10px;
  margin-top: 40px;
  line-height: 2.7em;
}

.single .page-title {
  background-color: rgb(66, 66, 66);
  color: white;

  .icons-wrap {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 25px;
    gap: 15px;
  }

}

.full-width {
  display: flex;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -50vw 0 -50vw;
  width: 100vw;
}

img.alignleft {
  float: left;
  margin-right: 1.5rem;
  
}
