.single .page-title {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-bottom: 44px;

  .icons-wrap {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 25px;
    gap: 15px;
  }

}