
.article-content{
  padding-bottom: 66px;
}

.page-title {
  background-color: rgb(238, 238, 238);
  border: 1px solid #b3b3b3;
  position: relative;
  padding: 22px 36px;
  border-radius: 10px;
  margin-top: 40px;
  line-height: 2.7em;
}

.full-width {
    display: flex;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}