//------------------------------------------------------------------------
// PAGES (app/[...slug])
// These are all the WordPress normal pages like About, Contact, etc.
// -----------------------------------------------------------------------


.page article {
  min-height: 500px;
}

.article-content {
  padding-bottom: 120px;
}

.page-title {
  background: rgba(121, 121, 121, 0.1);
  backdrop-filter: blur(10px) saturate(120%);

  border: 1px solid #b3b3b3;
  position: relative;
  padding: 36px;
  border-radius: 10px;
  margin-top: 40px;
  line-height: 2.7em;

  h1 {
    margin: 0;
    padding: 0;
  }
}

.full-width {
  display: flex;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

body.page-id-279 {
  background-image: url("/images/18.webp");
  background-size: contain;

  .breadcrumb {
    display: none;
  }

  header {
    background: none;
    border: none;
  }

  footer {
    background-color: white;
  }

  .page-title {
    border:none;
    margin-bottom: 55px;
  }
}