ul.breadcrumb {
  font-size: 0.93em; // Breadcrumb font size
  color: #777777;
  list-style: none;
  gap: 1rem 0;
  margin: 25px 0;
  padding: 0;

  li {
    display: inline;

    &::before {
      content: none; // Reset checkmark from global styles
    }

    a {
      font-size: 0.93em; // Breadcrumb font size
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }

    &+li::before {
      content: '/';
      font-size: 1em;
      padding: 0 0.4em;
    }
  }
}
