.page-home header {
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.page-home header .main-menu ul li a,
.page-home .search-open-button {
   color:#fff;
}


.page-home .main-menu ul li a::after {
    background: #fff;
}