@use 'abstracts' as *;


/**********************************************
      LANGUAGE SWITCHER SIMPLE
**********************************************/
.lang-switcher-simple {
    // background-color: #efefef;
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 98px;

    svg.lang-icon {
        color: #000;
        margin-right: 6px;
    }

    a {
        @include copy-text;
        font-size: 0.88em;
        color: rgb(173, 173, 173);
        line-height: normal;
        padding: 0 5px 3px 5px;
        margin: 0;

        &:hover {
            color: rgb(0, 0, 0);
        }

        &.active {
            color: rgb(0, 0, 0);
            border-bottom: 1px solid #000;
            padding-bottom: 2px;
        }
    }
}


/*************** HOME PAGE OVERRIDE ***************/
.page-home .lang-switcher-simple {
    border: none;

    svg.lang-icon {
        color: #ffffff;
    }

    a {
        color: rgb(158, 158, 158);

        &:hover {
            color: rgb(126, 126, 126);
        }

        &.active {
            color: rgb(255, 255, 255);
            border-bottom: 1px solid #ffffff;
        }
    }
}


/**********************************************
      LANGUAGE SWITCHER DROPDOWN
**********************************************/
// USAGE: Change class on /components/layout/header/LangSwitcher.tsx
// from lang-switcher-simple to lang-switcher-dropdown