@use 'abstracts' as *;


/**********************************************
      LANGUAGE SWITCHER SIMPLE
**********************************************/
.lang-switcher-simple {
    // background-color: #efefef;
    padding: 5px 10px;
    //border: 1px solid #e2e2e2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 98px;
    gap: 10px;

    svg.lang-icon {
        color: #000;
        
    }

    a {
        @include copy-text;
        font-size: 0.88em;
        color: rgb(85, 85, 85);
        line-height: normal;
        margin: 0;

        &:hover {
            color: rgb(0, 0, 0);
        }

        &.active {
            color: rgb(0, 0, 0);
            position: relative;
            

            &::before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                width: 12px;
                height: 3px;
                background-color: red;
            }
        }
    }
}


/*************** HOME PAGE OVERRIDE ***************/
.page-home .lang-switcher-simple {
    border: none;

    svg.lang-icon {
        color: #ffffff;
    }

    a {
        color: rgb(180, 180, 180);

        &:hover {
            color: rgb(126, 126, 126);
        }

        &.active {
            color: rgb(255, 255, 255);

            &::before {
                background-color: #ffffff;
            }
        }
    }
}


/**********************************************
      LANGUAGE SWITCHER DROPDOWN
**********************************************/
// USAGE: Change class on /components/layout/header/LangSwitcher.tsx
// from lang-switcher-simple to lang-switcher-dropdown