// ****************** SIDEBAR *******************//

.container.with-sidebar {
    display: flex;
    gap: 20px;
}

.sidebar {
    background-color: #f5f5f5;
}

aside {
    width: 350px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}