/* ==========================================================================
   Component: Slider (Swiper)
   ========================================================================== */

.page-home .slider-container {
  padding: 40px 0;
  margin-bottom: 25px;
}

.swiper-wrapper {
  /* ¡Esta es la clave! Fuerza una transición lineal y constante. */
  transition-timing-function: linear !important;
}

.swiper {
  overflow: hidden;
  width: 100vw;
  padding-bottom: 40px; // Adjust dots distance from cards

  .post-card {
    margin: 0 auto; // Asegura que cada tarjeta llene el contenedor del slider
    width: 500px;
    transition: transform 0.3s ease-in-out; // Añadimos una transición suave
    height: auto;

    .post-card-excerpt {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    a.button {
      display: none;
    }

    a {
      color: black;
      text-decoration: none;

    }

    &:hover {
      transform: scale(1.09); // Aumentamos el tamaño un 5% al pasar el ratón
      z-index: 10; // Nos aseguramos que se ponga por encima de otros elementos
    }
  }
}

.swiper-pagination-bullet-active {
  background: #000;
}

.slider-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }