/* 
==========================================================================
   Component: Slider (Swiper)
==========================================================================
*/

.slider-title {
  display: flex;
  justify-content: center;
}

.page-home .slider-container {
  padding: 40px 0;
  margin-bottom: 25px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  /* This is the key for contastant and smooth travel */

}

.swiper {
  overflow: hidden;
  width: 100vw;
  padding-bottom: 40px; // Adjust dots distance from cards

  .post-card {
    margin: 0 auto;
    width:490px;
    min-height: 540px;
    transition: transform 0.3s ease-in-out; // Add smooth transition

    .post-card-title {
      line-height: 1em;
    }

    .post-card-excerpt {
      font-size: 0.86rem;
      line-height: 1.4rem;
    }

    a.button {
      display: none;
    }

    a {
      color: black;
      text-decoration: none;

    }

    &:hover {
      transform: scale(1.09); // Onmouseover zoom effect
    }
  }
}

.swiper-pagination-bullet-active {
  background: #000;
}