//----------------------------------------------------
//            SMALLER THAN 1440px
//----------------------------------------------------
@media screen and (max-width: 1440px) {}


//----------------------------------------------------
//            SMALLER THAN 1200px
//----------------------------------------------------
@media screen and (max-width: 1200px) {}


//----------------------------------------------------
//            SMALLER THAN 992px
//----------------------------------------------------
@media screen and (max-width: 992px) {}


//----------------------------------------------------
//            SMALLER THAN 768px
//----------------------------------------------------
@media screen and (max-width: 768px) {

    // ************** HOME *************//
    .page-home .home-content {
        padding: 10px 20px;
    }

    .page-home .texto-inicio {
        margin-top: -30px;
        padding: 50px 20px 40px 20px;

    }

    // ************** GENERAL & LAYOUT *************//
    .page-one-col {
        padding: 0 1.2rem;
    }

    .page-fullwidth {
        padding: 0 1.2rem;

        .page-title {
            margin: 20px 0 0 0;
        }
    }

    .page-sidebar {
        padding: 0 1rem;

        aside {
            min-height: auto;
        }

        .page-title {
            margin: 20px 0 20px 0;
            padding: 20px;

            h1 {
                line-height: 1.48em;
            }
        }

        .post-grid {
            margin: 20px 0;
        }
    }

    .icons-wrap {
        bottom: 0;
        gap: 4px;

        svg {
            height: 18px; // ICONS SIZE
        }
    }

    aside {
        border: none;
        padding: 0;

        .sidebox {
            position: relative;
        }
    }

    .load-more-container {
        margin: 20px !important;
    }

    // ************** HEADER *************//
    .header {
        height: 80px;
        padding: 15px 20px;

        .actions-container {
            display: flex;
            flex-direction: row-reverse; // REVERT ORDER IF NEEDED of menu and components on smaller screens
        }
    }

    // ************** FOOTER *************//

    footer {

        .footer-content {
            justify-content: flex-start;
        }

        .footer-box {
            margin-bottom: 44px;
        }

    }
}



//----------------------------------------------------
//            SMALLER THAN 576px
//----------------------------------------------------
@media screen and (max-width: 576px) {

    // ************** HEADER *************//

    .header .logo-container img {
        // LOGO SIZE
        height: 38px;
    }

    .header .actions-container {
        column-gap: 12px;
    }

    a.mobile-menu-toggle svg {
        // HAMBURGER MENU SIZE
        height: 36px;
    }

    .header-desc {
        font-size: 0.8em;
    }



    // ************** PAGE LAYOUT *************//

    .page-title {
        padding: 24px;
        margin: 20px auto 20px auto;
    }

    ul.breadcrumb {
        display: none;
    }

    .post-card {
        padding: 6px;
    }

    .post-card h3.post-card-title {
        line-height: 1.18em;
    }

    // ************** FOOTER *************//

    .footer small {
        width: 90%;
        margin: 0 auto;
        line-height: 1.2em;
    }

    .footer-content {
        margin-bottom: 0;
        gap: 0;
    }

    .copyright {
        margin: 0;
    }

    //----------------------------------------------------
    //            SMALLER THAN 400px
    //----------------------------------------------------
    @media screen and (max-width: 400px) {

        // ************** HEADER *************//

        .header-sticky-enabled #logo-container img {
            // LOGO SIZE
            height: 38px !important;
        }

        .lang-switcher-simple {
            // background: transparent;

            svg {
                // color: rgb(53, 53, 53) !important;
                padding: 0;
            }

            .current-lang {
                display: none;
            }
        }

        // ************** HERO *************//
        .hero-content {
            width:90%
        }
        
        // ************** ASIDE *************//
        aside {
            margin-bottom: 44px;

            .search-container {
                display: none;
            }
        }

        // ************** LAYOUT *************//
        .post-grid {
            margin: 20px 0;
        }

        .post-card {
            padding: 0;
            border-radius: 8px;
        }

        .post-card-content {
            padding: 18px 10px 8px 10px;
        }
    }
}